/* Custom Fonts*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;

}

:root {
  --bg-color: #F2EEE9;
  --text-color: #22100d;
  --second-color: #685f72;
  --main-color: #af458c;
  --big-font: 3.8rem;
  --h2-font: 2.6rem;
  --p-font: 1.2rem;
}
 
/* Home Section */

.home {
  height: 100vh;
  width: 100%;
  padding-top: 100px;
  padding-left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .main img {
  width: 580px;
  max-width: 100%;
  height: auto;
  padding: 0 10px;
}

.all-text {
  width: 900px;
  max-width: 100%;
  padding: 0 10px;
}

.main {
  width: 1290px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

.all-text h4 {
  font-size: 20px;
  color: var(--main-color);
  letter-spacing: 1px;
  font: weight 500;
  margin-bottom: 10px;
}

.all-text h1 {
  color: #347bb3;
  font-size: var(--big-font);
  font-weight: 700;
  margin-bottom: 20px;

}

.all-text p {
  font-size: var(--p-font);
  color: var(--second-color);
  line-height: 33px;
  margin-bottom: 35px;
  width:700px;
}
/*---- Courses----*/

.center-text {
  text-align: center;
}

.center-text h5 {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.center-text h2 {
  font-size: var(--h2-font);
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 2px;
}

.courses {
  width: 95%;
  margin: 2rem auto;
  border-radius: 10px;

}

.courses-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: 4rem;
  cursor: pointer;

}

.row {
  background: rgb(250, 250, 250);
  padding: 0px 0px 20px 0px;
  border-radius: 20px;
  transition: all .40s ease;
}

.row:hover {
  transform: translateY(-15px);
}

.row img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.courses-text {
  padding: 35px 20px;
}

.courses-text h5 {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
}

.courses-text h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin: 15px 0 15px;
  transition: all .40s ease;
}

.courses-text h6 {
  color: #696969;
  font-size: var(--p-font);
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 30px;

}

.rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.star i {
  color: var(--main-color);
  margin-right: 2px;
  font-size: 17px;
}

.review p {
  color: #696969;
  font-size: var(--p-font);
  font-weight: 400;
  letter-spacing: 1px;
}

/* Partners Category */

.partners-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 5rem;



}


.partners-content img {
  width: 250px;
  aspect-ratio: 3/2;
}


/* Kontaktoni Content */

.contact-content {
  display: flex;
  justify-content: space-around;
  background: rgb(250, 250, 250);
  width: 115%;
  margin-top: 50px;
  margin-left: -140px;
  padding: 40px;
  transition: all .40s ease;

}

.contact-content .contact-text {
  width: 20%;
}

.contact-text i {
  font-size: 50px;
  padding: 20px;
  display: block;
  margin: 0 40px;
  color: var(--main-color);
}

.contact-text h3 {
  padding: 10px;
  color: var(--second-color)
}





.map {
  margin-left: -140px;
  margin-top: 15px;
}


/* Footer */

#container-footer {
  width: 100%;
  min-height: 100%;
  height: 40px;
  position: relative;
  margin: 0 auto;
  background-color: #1f4c6f;
  color: #c59f80;
}

#container-footer {
  font-size: 18px;
  letter-spacing: 2px;
}

#footer-body {
  width: 616px;
  padding: 5px 14px 5px 14px;
  margin: 0 auto;
  padding-bottom: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 644px;
  height: 20px;
  margin: 0 auto;
}

/* Mobile View */
